
      *,
      *::before,
      *::after{
        box-sizing: border-box;
        }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body{
    scroll-behavior: smooth;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
:root{
    --background-color: #FFFFFF;
    --block-color: #2F303A;
    --text-color: #757575;
    --title-color: #212121;
    --person-color: #F5F4FA;
    --button-color: #2196F3;
}
    body{
        font-family: "Roboto", sans-serif;
        background-color: var(--background-color);
        line-height: 100%;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    .container{
        width: 1200px;
        margin:0 auto;
        padding: 0 15px;
    }
    .title{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 42px;
    }
    /* Header section */
    .header{
        padding: 25px 0;
        border: #ECECEC solid 1px;
    }
    .header-container{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
    }
    .header-logo{
        margin-right: 93px;
    }
    .header-nav{
        display: flex;
        gap: 50px;
    }
    .header-nav>li{
        position: relative;
        margin: 0;
    }
    .header-link{
    font-size: 14px;
    display: block;
    }
    .filters-list{
        position: absolute;
        top: 100%;
        left:0;
        transform: scale(0) translateX(1000px);
        transition: 2s linear;
    }
    .filters-item{
    background: var(--button-color);
    margin: 0;
    }
    .filters-item>a{
        display: block;
        color: var(--background-color);
        padding: 5px;
    }
    .filters:hover>.filters-list{
        transform: scale(1) translateX(0);
    }
    .contacts{
        position: relative;
    }
    .contacts-list{
        position: absolute;
        top:0;
        right:100%;
        transform:scale(0);
        transition: 2s linear;
    }
    .contacts-item{
        background: var(--button-color);
    }
    .contacts-item>a{
        display: block;
        color: var(--background-color);
        padding: 5px;
    }
    .contacts:hover>.contacts-list{
        transform:scale(1);
    }
    .header-link.active{
        color: var(--button-color);
    }
    .header-contact{
        margin-left: auto;
    }
    .contact-flex{
        display: flex;
        gap: 50px;
    }
    .contact{
    font-size: 14px;
    color: var(--text-color);
    }
    .contact.active{
        color: var(--button-color);
    }
        /* Footer section */
    .footer{
        background-color: var(--block-color);
        padding: 60px 0 51px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
    }
    .footer-logo{
        display: inline-block;  
    }
    .adress{
        color: var(--background-color);
        line-height: 21px;
    }
    .footer-contact{
        color: #FFFFFF60;
        line-height: 21px;
    }
    .footer-list{
        margin-top: 20px;
    }
    ul li{
        margin-bottom: 9px;
    }
    ul li:last-child{
        margin: 0;
    }
        /* Hero section */
    .hero{
        background: url('../img/background.jpg') no-repeat 50% / cover;
        position: relative;
    }
    .hero-container{
        position: relative;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        }
        .hero::before{
            content: '';
            position: absolute;
            inset: 0;
            background: rgb(47, 48, 58, .4);
        }
    .main-title{
        position: relative;
        color: var(--background-color);
        text-transform: uppercase;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.06em;
        max-width: 696px;
        text-align: center;
    }
    .button{
        position: relative;
        background-color: var(--button-color);
        color: var(--background-color);
        border: none;
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        border-radius: 4px;
        margin-top: 30px;
    }

    /* Advan section */
    .advan{
        padding: 94px 0;
    }
    .advan-container{
        display: flex;
        gap: 30px;
    }
    .description{
        flex: 1 1 25%;
        position: relative;
    }
    .advan-text::before{
        content: '';
        background: #F5F4FA 50%;
        width: 270px;
        height: 120px;
        border-radius: 4px;
        position: absolute;
        inset: 0;
    }
    .before1::before{
        content: '';
        background-image: url('../img/before1.svg');
        background-repeat: no-repeat;
        position: absolute;
        inset: 0;
    }
    .before2::before{
        content: '';
        background-image: url('../img/before2.svg');
        background-repeat: no-repeat;
        position: absolute;
        inset: 0;
    }
    .before3::before{
        content: '';
        background-image: url('../img/before3.svg');
        background-repeat: no-repeat;
        position: absolute;
        inset: 0;
    }
    .before4::before{
        content: '';
        background-image: url('../img/before4.svg');
        background-repeat: no-repeat;
        position: absolute;
        inset: 0;
    }
    .description>div>h2{
        position: relative;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: var(--title-color);
        margin-bottom: 10px;
        padding-top: 150px;
    }
    .description>div>p{
        position: relative;
        font-weight: 400;
        color: var(--text-color);
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }
    /* Activity section */
    .activity{
        text-align: center;
        padding-bottom: 94px;
    }
    .activity-container{
        display: flex;
        gap: 30px;
        margin: 50px 0 0;
    }
    /* Team section */
    .team{
        text-align: center;
        background-color: var(--person-color);
        min-height: 648px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team-container{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }
    .person{
        background-color: var(--background-color);
        flex: 1 1 25%;
    }
    .person-title{
        padding: 30px 30px 16px;
    }
    .person-title>h3{
        margin: 0 0 10px;
        color: var(--title-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
    }
    .person-title>p{
        color: var(--text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
    }
    .person>img{
        object-fit: cover;
        width: 100%;
        height: 260px;
    }
    .act-img-container{
        position: relative;
    }
    .act-img-description{
        height: 24%;
        width: 100%;
        background-color: rgb(47, 48, 58, 0.8);
        align-content: center;
        color: var(--background-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    /* Portfolio section */
    .projects {
        padding: 94px 0;
        min-height: 1360px;
}
.nav {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 0;
}
.nav>a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 6px 0;
    border: none;
    border-radius: 4px;
    height: 38px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    background-color: var(--person-color);
    color: var(--title-color);
}
.nav>a:hover{
    background-color: var(--button-color);
    color: var(--background-color);
}
.nav>a:nth-child(1){
    width: 73px;
}
.nav>a:nth-child(1).active{
    background-color: var(--button-color);
    color: var(--background-color);
}
.nav>a:nth-child(2){
width: 128px;
}
.nav>a:nth-child(2).active{
    background-color: var(--button-color);
    color: var(--background-color);
}
.nav>a:nth-child(3){
width: 145px;
}
.nav>a:nth-child(3).active{
    background-color: var(--button-color);
    color: var(--background-color);
}
.nav>a:nth-child(4){
width: 103px;
}
.nav>a:nth-child(4).active{
    background-color: var(--button-color);
    color: var(--background-color);
}
.nav>a:nth-child(5){
width: 130px;
}
.nav>a:nth-child(5).active{
    background-color: var(--button-color);
    color: var(--background-color);
}
/* Portfolio-cards section */
.cards {
display: flex;
flex-wrap: wrap;
row-gap: 30px;
margin: 0 -15px;
}
.portfolio-card {
flex: 1 1 30%;
padding: 0 15px;
}
.portfolio-card > div {
border: #EEEEEE 1px solid;
}
.image-div>img{
    object-fit: cover;
    width: 100%;
    height: 294px;
}
.card-title {
padding: 20px;
}
.card-title>h2{
color: var(--title-color);
font-size: 18px;
line-height: 36px;
font-weight: 700;
letter-spacing: 0.06em;
}
.card-title>p{
color: var(--text-color);
line-height: 30px;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
margin-top: 4px;
}
/* Cards hover */
.image-div{
position: relative;
overflow: hidden;
}
.image-div>div{
position: absolute;
inset: 0;
font-size: 20px;
line-height: 30px;
color: var(--background-color);
padding: 24px;
background-color: rgb(33, 150, 243, .5);
transform: translateY(100%);
transition: 1s linear;
align-content: center;
}
.portfolio-card:hover>div>.image-div>div{
    transform: translateY(0);
}
.nowrap{
    text-wrap:nowrap;
    transition: 1s linear;
}
 /* Index-icons section */
.svg-style{
    width: 20px;
    height: 20px;
    color: #AFB1B8;
}
.svg-icon{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
}
.svg-icon>li{
    width: 44px;
    height: 44px;
    margin: 0;
    align-content: center;
}
.svg-a:hover{
    background-color: var(--button-color);
    border-radius: 50%;
    color: var(--background-color);
}
.svg-a:hover>.svg-style{
    color: var(--background-color);
    transition:1s 1s linear;
}
.svg-a{
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    transition: 2s;
}
.footer-flex{
        display: flex;
        gap: 130px;
    }
    .join{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 12px;
    }
    .join>h3{
        color: var(--background-color);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
    }
    .svg-hiden{
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }
    /* Regular customers */
.customers-list {
display: flex;
gap: 30px;
padding-bottom: 94px;
}
.customers-item {
height: 92px;
display: flex;
flex: 1 1 16%;
justify-content: center;
align-items: center;
}
.csvg {
        color: #AFB1B8;
        width: 106px;
        height: 60px;
        transition: 1s;
}
.customers-item>a{
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    border: #AFB1B8 1px solid;
    border-radius: 4px;
    transition: 1s;
}
.customers-item>a:hover>.csvg{
    color: var(--button-color);
}
.customers-item>a:hover{
    border-color: var(--button-color);
}
.list-container>h3{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 42px;
    color: var(--title-color);
    padding: 94px 0 50px;
}
.svg-a> .footer-svg{
    color: var(--background-color);
}
 /* Side-menu */
    .side-menu{
    position: fixed;
    top:0;
    left:0;
    width: 60px;
    height: 100vh;
    border-right: #2F303A 1px solid;
    background-color: var(--person-color);
    z-index: 10;
    transition: 1s linear;
    }
    .burger{
        width: 40px;
        height: 30px;
        position: relative;
        top:30px;
        left:10px;
        cursor: pointer;
    }
    .burger::before, .burger::after, .burger span{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: var(--title-color);
    }
    .burger span{
        top:50%;
        transform: translateY(-50%);
    }
    .burger::after{
        top: auto;
        bottom: 0;
    }
    .side-menu:hover{
        width: 200px;
    }
    body:has(.side-menu:hover) .container1{
        padding: 0 15px 0 200px;
    }
    body:has(.side-menu:hover) .menu-title{
        transform: scale(1);
    }
    body:has(.side-menu:hover) .menu-list{
        transform: translateX(0);
    }
    body:has(.side-menu:hover) .nowrap{
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    }
    .menu-title {
    padding: 0px 60px 30px;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    transform: scale(0);
    transition: 1s linear;
}
.menu-list {
    padding: 20px;
    transform: translateX(-200px);
    transition: 1s linear;
    text-wrap: nowrap;
}
.container1{
    width: 1200px;
    margin:0 auto;
    padding: 0 15px 0 60px;
    transition: 1s linear;
}
.portfolio-card1{
    flex:0 0 30%;
    padding: 0 15px;
}